.fullSize{
    width: 100vw;
}
#Title{
    font-size: 4.5rem;
    text-shadow: #474747 3px 5px 2px;
    align-self: center;

}
*.bg-info{
    background-color: #ff6324 !important;
}


.btn-info, .btn-info:active, .btn-info:visited {
    background-color: #f7ac1b !important;
}
#updateInput{
    display:flex;
    flex-direction: column;
}